@keyframes rotate_spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate_spinner 1s linear infinite;
}

#sidebar {
    width: 100%;
    transition: all .5s;
}